body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    border: 0;
}
.container{
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    height: 100%;
}
h1{
    color:grey;
    text-align: center;
}
.user-data {
    margin: 0 auto;
    width: 300px;
}
#years {
    width: 30px;
}
.sm {
    font-size: small;
}
.label {
    width: 120px;
    font-size: smaller;
}


